<%- include("header"); -%>


<h1>This is the about page!</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem amet beatae praesentium totam non assumenda nemo vitae unde? Debitis quo ab ea ipsa dolores reiciendis minus omnis aliquam nam asperiores?
</p>

<%-include("footer") -%>